@model AspNet.Mvc.EscapeRoomsApp.Models.ViewModals.Products.ProductListViewModel


@{
    ViewData["Title"] = "Escape Rooms";
}

<h2>Escape Rooms Details:</h2>



<div class="row">

    <div class="col-md-12">
        <h3>We have  @Model.TotalNumberOfRooms total number of rooms</h3>
        <ol>
            @foreach (var product in Model.EscapeRooms)
            {
                <partial name="_orderItemPartial" for="@product" />
            }
        </ol>
    </div>

</div>