


<h2>Customization Complete</h2>


<a asp-controller="Product" asp-action="Index" class="btn btn-danger">View All Escape Rooms</a>
@Html.ActionLink("Add another customized room", "CreateProduct", "Product", null, new
{
    @class = "btn btn-warning"
});

