@model AspNet.Mvc.EscapeRoomApp.Models.ViewModels.AddProduct.ProductListViewModel


@{
    ViewData["Title"] = "Details About the Ultimate Virtual Escape Rooms";
}

<h2>Escape Rooms </h2>



<div class="row">

    <div class="col-md-12">

        @foreach (var order in Model.Products)
        {
            <partial name="_orderItemPartial" for="@order" />

        }

    </div>

</div>

