@model ProductViewModel

    <ul>
        <li>Name: @Model.Name</li>
        <li>Category: @Model.Category</li>
        <li>Price: @Model.Price $</li>
        <li>Description:@Model.Description</li>
    </ul>